

.ico {
    font-size: 50px;
}

nav a {
	color: rgb(0, 0, 0);
	font-size: 18px;
	margin-right: 10px;
}

#bg{
    background-image: url("img/bg.jpg");
    
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header{
    margin-bottom: 200px;
    margin-top: auto;
    position: relative;
    top: 15px;
    height: 500px;
}

#info{

    height: 900px;
}

#im1_g img {
	height: 360px;
	width: 100%;
	margin-bottom: 45px;
	margin-left: 100px;
}
#im2_g img {
    height: 360px;
	width: 100%;
	margin-bottom: 45px;
	margin-left: 100px;
}



@media (max-width: 425px) {
	#first_block {
		text-align: center;
	}

	#im1_g img {
	height: 360px;
	width: 100%;
	margin-bottom: 45px;
	margin-left: 0;
	}

	#im2_g img {
    	height: 360px;
		width: 100%;
		margin-bottom: 45px;
		margin-left: 0;
	}
}

@media (max-width: 1000px) {
	#im1_g img {
	margin-left: 0;
	}

	#im2_g img {
		margin-left: 0;
	}
}

@media (max-width: 1200px) {
	#im1_g img {
	margin-left: 45px;
	}

	#im2_g img {
		margin-left: 45px;
	}
}

